:root {
    --primary-text-color-slate: #434455; 
    --title-text-color-navy-blue: #2e2f42;
    --title-hero-color-white: #FFFFFF;
    --actent-color-iris: #4D5AE5;
    --active-color-ocean: #404BBF;
    --primary-bg-color-white: #FFFFFF;
    --dark-bg-color: #2E2F42;
	--color-green: #31d0aa;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-bg-color-white);
    color: var(--primary-text-color-slate);
    letter-spacing: 0.02em;
}

 .list {
    list-style: none; 
 }

 .link {
    text-decoration: none;
 }

 .button {
    font-family: inherit;
    cursor: pointer;
 }

  .section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color-navy-blue);
}

  .text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color-slate);
}

  .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color-navy-blue);
  }

/** -------------------HEADER------------------- */
.header {}

.header-navigation {}

.header-logo{

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--actent-color-iris);

}
/* .header-logo:focus,
.header-logo:hover
{
    color: var(--active-color-ocean);
 } */
 
 /* .header-logo:active */
.color-logo  {
    color: var(--title-text-color-navy-blue);
}
.header-list {}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color-navy-blue);
}

.header-link:hover,
.header-link:focus {
    color: var(--active-color-ocean);
}

.header-link-current {
    color: var(--active-color-ocean);}


.header-address {
    text-decoration: none;
    font-style: normal;
    color: var(--primary-text-color-slate);
}

.header-address-link {
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: var(--primary-text-color-slate);
}



.header-address-link:hover,
.header-address-link:focus {
color: var(--active-color-ocean)
} 


/** -------------------HERO------------------- */

 .hero {
    background: var(--dark-bg-color);
 }  

 .hero-title {

    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
   color: var(--title-hero-color-white);
 }
    
 .hero-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--title-hero-color-white);
    display: flex;
background: var(--actent-color-iris);
 }
 .hero-button:hover,
 .hero-button:focus {
    background-color: var(--active-color-ocean);
 }
 
 /** -------------------FEATURES------------------- */

.features {}
.features-title {
    letter-spacing: 0.02em;
}

.features-list {}
.features-item {}
.features-item-title {}
.features-text {}
       
/** -------------------WHAT ARE WE DOING------------------- */


/** -------------------OUR TEAM------------------- */
.team {
    background-color: var(--color-cloud);
} */
.team-title {
    letter-spacing: 0.02em;
    }        
.team-item {
    background-color: var(--primary-bg-color-white);}
.team-item-title {
    letter-spacing: 0.02em;
}                              
/** -------------------FOOTER------------------- */
.footer {
    background-color: var(--dark-bg-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--actent-color-iris)
}

.color-logo-footer {
    color: var(--color-cloud)
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-cloud);
}

/** -------------------PORTFOLIO------------------- */


.filter-list-btn {
    background-color: var(--color-cloud);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--actent-color-iris);
 }

 .filter-list-btn:hover,
 .filter-list-btn:focus {
    color: var(--title-hero-color-white);
    background-color: var(--active-color-ocean);
 }